In [2]:
import numpy as ny
import pandas as pd

In [3]:
movies=pd.read_csv("movies.csv")

In [4]:
links=pd.read_csv("links.csv")
tags=pd.read_csv("tags.csv")

In [5]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [7]:
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [8]:
movies.shape

(9742, 3)

In [9]:
tags.shape

(3683, 4)

In [10]:
links.shape

(9742, 3)

In [11]:
movies=pd.merge(movies,links)

In [12]:
movies.shape

(9742, 5)

In [13]:
movies=pd.merge(movies,tags)

In [14]:
movies.shape

(3683, 8)

In [15]:
movies.head()

,movieId,title,genres,imdbId,tmdbId,userId,tag,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,336,pixar,1139045764
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,474,pixar,1137206825
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,567,fun,1525286013
3,2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844.0,62,fantasy,1528843929
4,2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844.0,62,magic board game,1528843932

In [16]:

#movieId
#title
#genres
#tags
movies=movies[['movieId','title','genres','tag']]

In [17]:
movies.head()

,movieId,title,genres,tag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,pixar
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,pixar
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,fun
3,2,Jumanji (1995),Adventure|Children|Fantasy,fantasy
4,2,Jumanji (1995),Adventure|Children|Fantasy,magic board game

In [18]:
movies.isnull().sum()

movieId    0
title      0
genres     0
tag        0
dtype: int64

In [19]:
movies.duplicated().sum()

104

In [20]:
movies.loc[movies.duplicated(),:]

,movieId,title,genres,tag
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,pixar
28,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller,time travel
35,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller,time travel
100,153,Batman Forever (1995),Action|Adventure|Comedy|Crime,superhero
143,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,EPIC
...,...,...,...,...
3349,105504,Captain Phillips (2013),Adventure|Drama|Thriller|IMAX,suspense
3391,109487,Interstellar (2014),Sci-Fi|IMAX,sci-fi
3392,109487,Interstellar (2014),Sci-Fi|IMAX,time-travel
3498,122912,Avengers: Infinity War - Part I (2018),Action|Adventure|Sci-Fi,Visually stunning
3572,139385,The Revenant (2015),Adventure|Drama,visually appealing

In [21]:
movies.shape

(3683, 4)

In [22]:
3683-104

3579

In [23]:
movies=movies.drop_duplicates(keep='first')

In [24]:
movies.isnull().sum()

movieId    0
title      0
genres     0
tag        0
dtype: int64

In [25]:
movies.shape

(3579, 4)

In [26]:
movies.duplicated().sum()

0

In [27]:
movies.head()

,movieId,title,genres,tag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,pixar
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,fun
3,2,Jumanji (1995),Adventure|Children|Fantasy,fantasy
4,2,Jumanji (1995),Adventure|Children|Fantasy,magic board game
5,2,Jumanji (1995),Adventure|Children|Fantasy,Robin Williams

In [28]:
movies.iloc[47]

movieId                                 40
title      Cry, the Beloved Country (1995)
genres                               Drama
tag                       In Netflix queue
Name: 50, dtype: object

In [29]:
movies.duplicated(subset=['title']).sum()

2007

In [30]:
movies=movies.drop_duplicates(subset=['title'])

In [31]:
movies.isnull().sum()

movieId    0
title      0
genres     0
tag        0
dtype: int64

In [32]:
movies.shape

(1572, 4)

In [33]:
movies.head()

,movieId,title,genres,tag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,pixar
3,2,Jumanji (1995),Adventure|Children|Fantasy,fantasy
7,3,Grumpier Old Men (1995),Comedy|Romance,moldy
9,5,Father of the Bride Part II (1995),Comedy,pregnancy
11,7,Sabrina (1995),Comedy|Romance,remake

In [34]:
'ohji'.split('|')

['ohji']

In [35]:
movies.iloc[47]

movieId              175
title        Kids (1995)
genres             Drama
tag        controversial
Name: 104, dtype: object

In [36]:
movies.head()

,movieId,title,genres,tag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,pixar
3,2,Jumanji (1995),Adventure|Children|Fantasy,fantasy
7,3,Grumpier Old Men (1995),Comedy|Romance,moldy
9,5,Father of the Bride Part II (1995),Comedy,pregnancy
11,7,Sabrina (1995),Comedy|Romance,remake

In [37]:
movies.genres=movies.genres.str.split('|')

In [38]:
movies.iloc[47]

movieId              175
title        Kids (1995)
genres           [Drama]
tag        controversial
Name: 104, dtype: object

In [39]:
movies.head()

,movieId,title,genres,tag
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",pixar
3,2,Jumanji (1995),"[Adventure, Children, Fantasy]",fantasy
7,3,Grumpier Old Men (1995),"[Comedy, Romance]",moldy
9,5,Father of the Bride Part II (1995),[Comedy],pregnancy
11,7,Sabrina (1995),"[Comedy, Romance]",remake

In [40]:
movies.isnull().sum()

movieId    0
title      0
genres     0
tag        0
dtype: int64

In [41]:
movies.shape

(1572, 4)

In [42]:
movies.tag=movies.tag.str.split(' ')

In [43]:
movies.head()

,movieId,title,genres,tag
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",[pixar]
3,2,Jumanji (1995),"[Adventure, Children, Fantasy]",[fantasy]
7,3,Grumpier Old Men (1995),"[Comedy, Romance]",[moldy]
9,5,Father of the Bride Part II (1995),[Comedy],[pregnancy]
11,7,Sabrina (1995),"[Comedy, Romance]",[remake]

In [44]:
movies.iloc[47]

movieId                175
title          Kids (1995)
genres             [Drama]
tag        [controversial]
Name: 104, dtype: object

In [45]:
movies.isnull().sum()

movieId    0
title      0
genres     0
tag        0
dtype: int64

In [46]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","")for i in x])

In [47]:
movies['tag']=movies['tag'].apply(lambda x:[i.replace(" ","")for i in x])

In [48]:
movies.head()

,movieId,title,genres,tag
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]",[pixar]
3,2,Jumanji (1995),"[Adventure, Children, Fantasy]",[fantasy]
7,3,Grumpier Old Men (1995),"[Comedy, Romance]",[moldy]
9,5,Father of the Bride Part II (1995),[Comedy],[pregnancy]
11,7,Sabrina (1995),"[Comedy, Romance]",[remake]

In [49]:
movies['tag']=movies['genres']+movies['tag']

In [50]:
movies.head()

,movieId,title,genres,tag
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]","[Adventure, Animation, Children, Comedy, Fanta..."
3,2,Jumanji (1995),"[Adventure, Children, Fantasy]","[Adventure, Children, Fantasy, fantasy]"
7,3,Grumpier Old Men (1995),"[Comedy, Romance]","[Comedy, Romance, moldy]"
9,5,Father of the Bride Part II (1995),[Comedy],"[Comedy, pregnancy]"
11,7,Sabrina (1995),"[Comedy, Romance]","[Comedy, Romance, remake]"

In [51]:
movies=movies[['movieId','title','tag']]

In [52]:
movies.head()

,movieId,title,tag
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fanta..."
3,2,Jumanji (1995),"[Adventure, Children, Fantasy, fantasy]"
7,3,Grumpier Old Men (1995),"[Comedy, Romance, moldy]"
9,5,Father of the Bride Part II (1995),"[Comedy, pregnancy]"
11,7,Sabrina (1995),"[Comedy, Romance, remake]"

In [53]:
movies['tag']=movies['tag'].apply(lambda x:" ".join(x))

In [54]:
movies.head()

,movieId,title,tag
0,1,Toy Story (1995),Adventure Animation Children Comedy Fantasy pixar
3,2,Jumanji (1995),Adventure Children Fantasy fantasy
7,3,Grumpier Old Men (1995),Comedy Romance moldy
9,5,Father of the Bride Part II (1995),Comedy pregnancy
11,7,Sabrina (1995),Comedy Romance remake

In [55]:
movies['tag']=movies['tag'].apply(lambda x:x.lower())

In [56]:
movies.head()

,movieId,title,tag
0,1,Toy Story (1995),adventure animation children comedy fantasy pixar
3,2,Jumanji (1995),adventure children fantasy fantasy
7,3,Grumpier Old Men (1995),comedy romance moldy
9,5,Father of the Bride Part II (1995),comedy pregnancy
11,7,Sabrina (1995),comedy romance remake

In [57]:
movies['title']=="A, Bugs Life"

0       False
3       False
7       False
9       False
11      False
        ...
3668    False
3671    False
3674    False
3677    False
3679    False
Name: title, Length: 1572, dtype: bool

In [58]:
def tit(name):
    final_username = ""
    for c in range(len(name)):
        if(name[c]=='('):
            break
        final_username += name[c]
    final_username=final_username.strip()
    return final_username

In [59]:
tit('2 states(1997)')

'2 states'

In [60]:
movies['title']=movies['title'].apply(tit)

In [61]:
movies.head()

,movieId,title,tag
0,1,Toy Story,adventure animation children comedy fantasy pixar
3,2,Jumanji,adventure children fantasy fantasy
7,3,Grumpier Old Men,comedy romance moldy
9,5,Father of the Bride Part II,comedy pregnancy
11,7,Sabrina,comedy romance remake

In [62]:
movies.shape

(1572, 3)

In [63]:
import nltk

In [64]:
from nltk.stem.porter import PorterStemmer
p_s=PorterStemmer()

In [65]:
def stem(text):
    L=[]
    for i in text.split():
        L.append(p_s.stem(i))
    return " ".join(L)

In [66]:
mov=movies

In [67]:
mov['tag']=mov['tag'].apply(stem)

In [68]:
from sklearn.feature_extraction.text import CountVectorizer
count = CountVectorizer(max_features=2000,stop_words='english')

In [69]:
mov.head()

,movieId,title,tag
0,1,Toy Story,adventur anim children comedi fantasi pixar
3,2,Jumanji,adventur children fantasi fantasi
7,3,Grumpier Old Men,comedi romanc moldi
9,5,Father of the Bride Part II,comedi pregnanc
11,7,Sabrina,comedi romanc remak

In [70]:
movies.head()

,movieId,title,tag
0,1,Toy Story,adventur anim children comedi fantasi pixar
3,2,Jumanji,adventur children fantasi fantasi
7,3,Grumpier Old Men,comedi romanc moldi
9,5,Father of the Bride Part II,comedi pregnanc
11,7,Sabrina,comedi romanc remak

In [71]:
count.fit_transform(mov['tag']).toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [72]:
arr_vac=count.fit_transform(mov['tag']).toarray()

In [73]:
arr_vac.shape

(1572, 837)

In [74]:
len(count.get_feature_names())

837

In [75]:
p_s.stem('loving')

'love'

In [76]:
mov['tag'].iloc[0]

'adventur anim children comedi fantasi pixar'

In [77]:
stem('adventure animation children comedy loving pixar')

'adventur anim children comedi love pixar'

In [78]:
count.get_feature_names()

['06',
 '1900',
 '1920',
 '1950',
 '1960',
 '1970',
 '1980',
 '2001',
 '2d',
 '70mm',
 '80',
 'aardman',
 'abort',
 'absorb',
 'abstract',
 'abus',
 'academi',
 'accid',
 'act',
 'action',
 'actress',
 'ad',
 'adam',
 'addict',
 'adolesc',
 'adopt',
 'ador',
 'adrien',
 'adult',
 'adulteri',
 'adventur',
 'affleck',
 'afghanistan',
 'africa',
 'agatha',
 'age',
 'aid',
 'al',
 'alcatraz',
 'alcohol',
 'alcott',
 'alfr',
 'alien',
 'allegor',
 'alon',
 'alter',
 'altern',
 'amaz',
 'america',
 'american',
 'ami',
 'amish',
 'amnesia',
 'amtrak',
 'ancient',
 'andi',
 'andrew',
 'android',
 'anim',
 'ann',
 'annoy',
 'anthoni',
 'anti',
 'apocalyps',
 'apocalypt',
 'appeal',
 'aquarium',
 'archaeolog',
 'art',
 'arthur',
 'artifici',
 'artist',
 'artsy',
 'artwork',
 'assassin',
 'astair',
 'asylum',
 'ate',
 'atmospher',
 'audienc',
 'austen',
 'auster',
 'australia',
 'autism',
 'avail',
 'avant',
 'aviat',
 'award',
 'awesom',
 'babi',
 'bad',
 'bale',
 'ballet',
 'ballroom',
 'bank',
 'base',
 'basebal',
 'basketbal',
 'beat',
 'beatl',
 'beauti',
 'bee',
 'beethoven',
 'ben',
 'bernard',
 'berri',
 'best',
 'bett',
 'bibl',
 'big',
 'bike',
 'biopic',
 'bird',
 'bittersweet',
 'bizarr',
 'black',
 'bleak',
 'blind',
 'bloodi',
 'bluegrass',
 'boksdrama',
 'boleyn',
 'bomb',
 'book',
 'bore',
 'borg',
 'box',
 'brad',
 'bradburi',
 'brainwash',
 'brilliant',
 'british',
 'britpop',
 'broadway',
 'brodi',
 'brolin',
 'bront',
 'brooch',
 'brother',
 'brutal',
 'bu',
 'buck',
 'budget',
 'bug',
 'build',
 'bulow',
 'bunni',
 'busi',
 'busniess',
 'butler',
 'byatt',
 'cage',
 'california',
 'cambodia',
 'cameo',
 'camp',
 'canada',
 'cancer',
 'capon',
 'capot',
 'captain',
 'carniv',
 'casey',
 'cash',
 'casino',
 'cast',
 'cathol',
 'cattl',
 'celebr',
 'cera',
 'chan',
 'charact',
 'charl',
 'charliz',
 'charlott',
 'cheeki',
 'chef',
 'chess',
 'chick',
 'child',
 'childish',
 'children',
 'chile',
 'china',
 'choreographi',
 'chri',
 'christi',
 'christian',
 'christma',
 'church',
 'cia',
 'cinema',
 'cinematographi',
 'circu',
 'citi',
 'civil',
 'claim',
 'clanci',
 'clark',
 'class',
 'classic',
 'claustrophob',
 'claymat',
 'clever',
 'clich',
 'climb',
 'clock',
 'clousseau',
 'coen',
 'cold',
 'cole',
 'colleg',
 'coma',
 'comedi',
 'comic',
 'comput',
 'conan',
 'conspiraci',
 'contempl',
 'controversi',
 'convent',
 'coppola',
 'corp',
 'corrupt',
 'costner',
 'costum',
 'cotillard',
 'court',
 'courtroom',
 'crane',
 'crappi',
 'creatur',
 'creepi',
 'cri',
 'crichton',
 'crime',
 'cross',
 'crucifixion',
 'crude',
 'cruel',
 'cult',
 'cusack',
 'cyborg',
 'cynic',
 'dahl',
 'danc',
 'dance',
 'daniel',
 'dark',
 'darth',
 'date',
 'davi',
 'david',
 'day',
 'deaf',
 'death',
 'decemb',
 'demon',
 'depress',
 'dewint',
 'diabet',
 'dialogu',
 'dicarpio',
 'dicken',
 'dingo',
 'dinosaur',
 'disabl',
 'disast',
 'disney',
 'dive',
 'divorc',
 'doc',
 'doctor',
 'documentari',
 'dodi',
 'dog',
 'doll',
 'domest',
 'donkey',
 'dorothi',
 'dougla',
 'downbeat',
 'dr',
 'drag',
 'drama',
 'dreamlik',
 'dress',
 'drive',
 'drug',
 'duma',
 'dumpster',
 'dvd',
 'dystopia',
 'earth',
 'east',
 'ed',
 'edith',
 'edward',
 'ego',
 'einstein',
 'embarass',
 'emilia',
 'emma',
 'emot',
 'empir',
 'end',
 'england',
 'enjoy',
 'ensembl',
 'enterpris',
 'entertain',
 'estat',
 'eugen',
 'europ',
 'evan',
 'everyon',
 'everyth',
 'evil',
 'ewan',
 'ex',
 'existenti',
 'express',
 'eye',
 'factori',
 'fairi',
 'fall',
 'famili',
 'fantasi',
 'fatalist',
 'father',
 'fatherhood',
 'favela',
 'fbi',
 'featur',
 'ferri',
 'fetish',
 'fi',
 'figur',
 'film',
 'fish',
 'flick',
 'flood',
 'food',
 'footbal',
 'forecast',
 'forster',
 'franc',
 'freak',
 'freedom',
 'friendship',
 'fu',
 'fugit',
 'fun',
 'funni',
 'futur',
 'gambl',
 'gang',
 'gangster',
 'gard',
 'garfunkel',
 'geeki',
 'gener',
 'genocid',
 'georg',
 'ghost',
 'girl',
 'gogh',
 'gold',
 'goldberg',
 'golf',
 'good',
 'gothic',
 'gover',
 'grace',
 'graham',
 'great',
 'green',
 'grey',
 'grisham',
 'gulf',
 'gun',
 'gunfight',
 'guy',
 'gyllenha',
 'hal',
 'hall',
 'halloween',
 'hallucinatori',
 'hammerstein',
 'hammett',
 'hannib',
 'harper',
 'harri',
 'hathaway',
 'hawkey',
 'hayworth',
 'hearst',
 'heartbreak',
 'heartwarm',
 'heist',
 'hemingway',
 'henri',
 'hepburn',
 'herman',
 'hero',
 'high',
 'highschool',
 'hilari',
 'hinton',
 'hip',
 'hippi',
 'histori',
 'hit',
 'hitchcock',
 'hole',
 'hollywood',
 'holocaust',
 'homeless',
 'hoop',
 'hop',
 'hope',
 'hopkin',
 'hornbi',
 'horribl',
 'horror',
 'hors',
 'hospit',
 'hostag',
 'hudson',
 'huey',
 'hula',
 'humor',
 'hyde',
 'ichabod',
 'idolatri',
 'ii',
 'ill',
 'illus',
 'imax',
 'immigr',
 'incest',
 'india',
 'indian',
 'inigo',
 'insan',
 'inspir',
 'insur',
 'intellectu',
 'intellig',
 'intens',
 'interraci',
 'invis',
 'ireland',
 'irrever',
 'island',
 'istanbul',
 'itali',
 'jacki',
 'jake',
 'jame',
 'jane',
 'japan',
 'jare',
 'jason',
 'jean',
 'jekyl',
 'john',
 'johnni',
 'josh',
 'joss',
 'journal',
 'judaism',
 'jungl',
 'kaufman',
 'kevin',
 'kidnap',
 'kids',
 'killer',
 'king',
 'kingsley',
 'kirk',
 'klingon',
 'knight',
 'la',
 'larg',
 'lawyer',
 'lecter',
 'lector',
 'lee',
 'leonardo',
 'leopard',
 'leto',
 'lewi',
 'like',
 'live',
 'lloyd',
 'lonesom',
 'long',
 'loretta',
 'loss',
 'louisa',
 'love',
 'lynn',
 'macbeth',
 'mafia',
 'magic',
 'mail',
 'male',
 'man',
 'marathon',
 'marion',
 'mark',
 'marriag',
 'martial',
 'marx',
 'matchmak',
 'mathemat',
 'mcgregor',
 'memori',
 'men',
 'mental',
 'mermaid',
 'mice',
 'michael',
 'middl',
 'militari',
 'miller',
 'mindfuck',
 'mirror',
 'miss',
 'missionari',
 'mockumentari',
 'moldi',
 'montoya',
 'moon',
 'motherhood',
 'motor',
 'mount',
 'mountain',
 'movi',
 'mozart',
 'mrs',
 'multipl',
 'muppet',
 'murder',
 'murray',
 'music',
 'mysteri',
 'myth',
 'nabokov',
 'naiviti',
 'narr',
 'nasa',
 'nazi',
 'neil',
 'nemo',
 'netflix',
 'new',
 'nick',
 'nicola',
 'night',
 'nightclub',
 'nightmar',
 'ninotchka',
 'nogenreslisted',
 'noir',
 'nomin',
 'nora',
 'norton',
 'nostalgia',
 'notabl',
 'nuclear',
 'nuditi',
 'nun',
 'obsess',
 'ock',
 'ogr',
 'oil',
 'olymp',
 'onc',
 'organ',
 'orphan',
 'oscar',
 'othello',
 'overr',
 'pacino',
 'pageant',
 'painter',
 'pan',
 'paranoia',
 'parenthood',
 'passion',
 'peac',
 'pearl',
 'pee',
 'penalti',
 'person',
 'peter',
 'philosoph',
 'photographi',
 'pictur',
 'pisstak',
 'pitt',
 'pixar',
 'plan',
 'plastic',
 'play',
 'plot',
 'poetri',
 'polecat',
 'polic',
 'polit',
 'pool',
 'poor',
 'porter',
 'post',
 'pow',
 'power',
 'preacher',
 'predict',
 'pregnanc',
 'prequel',
 'presid',
 'priest',
 'princ',
 'prison',
 'prodigi',
 'prostitut',
 'provok',
 'psychiatrist',
 'psycholog',
 'psychopath',
 'pud',
 'quaker',
 'queue',
 'quirki',
 'race',
 'rachel',
 'racism',
 'radcliff',
 'radio',
 'rape',
 'rasicm',
 'rat',
 'ray',
 'real',
 'realiti',
 'realli',
 'recap',
 'reciproc',
 'religion',
 'remad',
 'remak',
 'restaur',
 'reunion',
 'reveng',
 'rich',
 'rita',
 'river',
 'road',
 'roald',
 'rob',
 'robot',
 'rogen',
 'roger',
 'romanc',
 'romant',
 'rome',
 'rosebud',
 'ruffalo',
 'rushmor',
 'saint',
 'salut',
 'samberg',
 'samurai',
 'sandler',
 'satir',
 'saturday',
 'savannah',
 'saw',
 'scandal',
 'scenario',
 'scene',
 'sceneri',
 'school',
 'sci',
 'scienc',
 'screwbal',
 'script',
 'seen',
 'semit',
 'sequel',
 'serial',
 'seth',
 'seuss',
 'sexual',
 'shakespear',
 'shangri',
 'shark',
 'shaw',
 'ship',
 'shipwreck',
 'short',
 'shrimp',
 'siam',
 'simon',
 'singleton',
 'sirk',
 'sister',
 'sisterhood',
 'skate',
 'ski',
 'slasher',
 'slick',
 'small',
 'smart',
 'smith',
 'snl',
 'soccer',
 'sofia',
 'someth',
 'sort',
 'south',
 'southern',
 'space',
 'spaghetti',
 'spectat',
 'spell',
 'spi',
 'spider',
 'spoof',
 'sport',
 'stage',
 'stand',
 'stapler',
 'star',
 'start',
 'state',
 'station',
 'statu',
 'stephen',
 'stiller',
 'stori',
 'storylin',
 'strand',
 'stranger',
 'submarin',
 'subway',
 'superhero',
 'support',
 'surf',
 'surgeri',
 'surreal',
 'surviv',
 'suspens',
 'swashbuckl',
 'tag',
 'tale',
 'teacher',
 'teenag',
 'televis',
 'tennesse',
 'termin',
 'terror',
 'test',
 'thanksgiv',
 'theater',
 'theron',
 'thewli',
 'thi',
 'thompson',
 'thought',
 'threesom',
 'thriller',
 'time',
 'titan',
 'tobacco',
 'tolkein',
 'tolstoy',
 'tom',
 'town',
 'traci',
 'train',
 'transplant',
 'transvestit',
 'travel',
 'trek',
 'trip',
 'trucker',
 'true',
 'truman',
 'tv',
 'twin',
 'twist',
 'ummarti2006',
 'underestim',
 'union',
 'univers',
 'vader',
 'vampir',
 'van',
 'vertriloqu',
 'veterinarian',
 'vietnam',
 'violenc',
 'virgin',
 'virtual',
 'visual',
 'von',
 'voyeur',
 'want',
 'wapendrama',
 'war',
 'wave',
 'way',
 'weather',
 'weber',
 'wed',
 'wee',
 'weisz',
 'werewolf',
 'western',
 'whale',
 'wharton',
 'whedon',
 'wheel',
 'whimsic',
 'whit',
 'white',
 'whoopi',
 'wild',
 'william',
 'wine',
 'world',
 'write',
 'york',
 'zombi']

In [79]:
from sklearn.metrics.pairwise import cosine_similarity

In [80]:
sim = cosine_similarity(arr_vac)

In [81]:
sim

array([[1.        , 0.66666667, 0.23570226, ..., 0.16666667, 0.3086067 ,
        0.4330127 ],
       [0.66666667, 1.        , 0.        , ..., 0.        , 0.3086067 ,
        0.        ],
       [0.23570226, 0.        , 1.        , ..., 0.23570226, 0.        ,
        0.20412415],
       ...,
       [0.16666667, 0.        , 0.23570226, ..., 1.        , 0.46291005,
        0.57735027],
       [0.3086067 , 0.3086067 , 0.        , ..., 0.46291005, 1.        ,
        0.40089186],
       [0.4330127 , 0.        , 0.20412415, ..., 0.57735027, 0.40089186,
        1.        ]])

In [82]:
sim.shape

(1572, 1572)

In [83]:
sim[0]

array([1.        , 0.66666667, 0.23570226, ..., 0.16666667, 0.3086067 ,
       0.4330127 ])

In [84]:
sorted(list(enumerate(sim[0])),reverse=True,key=lambda x:x[1])[1:6]

[(544, 0.9128709291752769),
 (666, 0.8660254037844387),
 (1497, 0.7715167498104596),
 (506, 0.7302967433402215),
 (1016, 0.7302967433402215)]

In [85]:
def similarmovies(name):
    name=name.strip()
    name=name.title()
    index = mov[mov['title'] == name].index[0]
    dis = sorted(list(enumerate(sim[index])),reverse=True,key = lambda x: x[1])
    for i in dis[1:6]:
        print(mov.iloc[i[0]].title)

In [94]:
similarmovies('toy story')

Bug's Life, A
Toy Story 2
The Lego Movie
Lord of the Rings, The
Finding Nemo

In [87]:
mov.head()

,movieId,title,tag
0,1,Toy Story,adventur anim children comedi fantasi pixar
3,2,Jumanji,adventur children fantasi fantasi
7,3,Grumpier Old Men,comedi romanc moldi
9,5,Father of the Bride Part II,comedi pregnanc
11,7,Sabrina,comedi romanc remak

In [88]:
mov.shape

(1572, 3)

In [89]:
import pickle

In [90]:
pickle.dump(mov.to_dict(),open("movdata.pkl","wb"))

In [91]:
pickle.dump(sim,open('sim.pkl','wb'))